/*native elements*/

html,
body {
    height: 600px;
    width: 800px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
}

hr {
    border-color: #999;
    border-width: 3px;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control::-moz-placeholder {
    color: #fff;
}
button:focus {outline:none !important;}
button:active {
outline: none !important;
}
button {
outline: none !important;
}
/*css overrides*/

.col-md-2 {
    width: 16.6667%;
    float: left;
    padding: 1%;
}

.col-md-3 {
    width: 25%;
    float: left;
    padding: 1%;
}

.col-md-4 {
    width: 33.3333%;
    float: left;
    padding: 1%;
}

.col-md-5 {
    width: 41.6667%;
    float: left;
    padding: 1%;
}

.col-md-6 {
    width: 50%;
    float: left;
    padding: 1%;
}

.col-md-8 {
    width: 66.6667%;
    float: left;
    padding: 1%;
}

.col-md-offset-6 {
    margin-left: 50%;
}

.container {
    width: 100%;
    padding: 0;
}

.row {
    margin: 0;
}

button,
input {
    text-transform: inherit;
}

.btn {
    font-size: inherit;
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
}


/*header*/

.header {
    background: #e6e6e6;
    border-bottom: 1px solid #bbe2ca;
}

.headerInfo {
    padding: 2% 10%;
}

.nameBox {
    padding: 1%;
    font-size: 2em;
}


/*tabs*/

.tabs {
    width: 100%;
    background: #e6e6e6;
    height: 33.333%;
}


/* bevel size, left offset and color settings next 3 lines */

.bevel,
.content {
    border-width: .75em;
}

.bevel,
.content {
    border-color: #b4b7ba;
    border-style: solid;
}

.headerTab {
    height: 100%;
    padding: 0;
    font-size: 1.25em;
}

.headerTab .tr,
.headerTab .tl {
    height: 0px;
    width: 100%;
}

.headerTab .tr,
.headerTab .tl {
    border-top: 0;
}

.headerTab .tr {
    border-right-color: transparent;
}

.headerTab .tl {
    border-left-color: transparent;
}

.content {
    background: #b4b7ba;
    color: #fff;
    border-bottom: 0 none;
    border-top: 0 none;
    height: calc(100% - 25px);
    width: 100%;
    padding: 0 0 2%;
}

.headerTab:first-child .bevel {
    border-left-width: 0px;
}

.headerTab:last-child .bevel {
    border-right-width: 0px;
}

.activeTab {
    border-color: #009a44 transparent;
}

.activeTabContent {
    background: #009a44;
    border-color: #009a44 transparent;
}


/*steps*/

.steps {
    padding: 1% 3%;
    color: #99d7b4;
    position: relative;
}

.question {
    float: right;
    background: #007130;
    padding: 0.5% 2%;
    color: #73E050;
}


/*home screen*/

.homeScreen input {
    border: 0 none;
    color: #fff;
    font-size: 1em;
    height: 2em;
}


/*screens*/

.homeScreen,
.screen {
    padding: 3%;
}


/*#view {
    position: relative;
}*/

.nextGroup {
    bottom: 1%;
    right: 1%;
    position: absolute;
}

.nextStep {
    background: #e6e6e6;
    color: #9f9999;
    display: inline-block;
    font-family: Arial, sans-serif;
    height: 8vh;
    padding: 2%;
    vertical-align: middle;
    width: 75%;
    font-size: .75em;
}

.nextButton {
    font-size: inherit;
    height: 8vh;
    position: relative;
    border: none;
}

.nextButton::after {
    border-color: transparent #5cb85c;
    border-style: solid;
    border-width: 4vh 0 4vh 2vh;
    content: "";
    display: block;
    height: 0;
    left: 100%;
    position: absolute;
    top: -1px;
    width: 0;
}

.nextButton:hover::after {
    border-color: transparent #449d44 !important;
}

.disabledButton {
    background: #E6E6E6;
    pointer-events: none;
}

.disabledButton::after {
    border-color: transparent #E6E6E6;
}

.stepText {
    font-family: Arial, sans-serif;
}

.stepList div {
    margin-bottom: 3%;
}

.image {
    border: 1px solid;
    min-height: 25vh;
    max-height: 35vh;
}


/*well*/

.customWell {
    margin-bottom: 2%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding: 2%;
    font-size: 1.75em;
}

.customWell .inputLabel {
    line-height: 2em;
}

.userWell {
    background: #f2f2f2;
}

.userWell input {
    background: #858585;
}

.pwWell {
    background: rgba(255, 121, 0, 0.15);
    color: #ff7900;
}

.pwWell input {
    background: #ff7900;
}


/*colors/text*/

.whiteBackground {
    background: #fff;
}

.greenBackground {
    background: #009a44;
}

.greyBackground {
    background: #999;
}

.greenText {
    color: #009a44;
}

.vertical-center {
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
}

.greyBackground .image {
    background: #f3f3f3;
    border: 0;
}

.activeImg {
    border: 5px solid #ff7900 !important;
}


/*button*/

.btn-grey {
    background: #858585;
    border-bottom: 3px solid #676767;
    color: #fff;
    width: 80%;
    font-size: inherit;
}


/*progress*/

ol.progressBar[data-steps="2"] li {
    width: 49%;
}

ol.progressBar[data-steps="3"] li {
    width: 33%;
}

ol.progressBar[data-steps="4"] li {
    width: 24%;
}

ol.progressBar[data-steps="5"] li {
    width: 19%;
}

ol.progressBar[data-steps="6"] li {
    width: 16%;
}

ol.progressBar[data-steps="7"] li {
    width: 14%;
}

ol.progressBar[data-steps="8"] li {
    width: 12%;
}

ol.progressBar[data-steps="9"] li {
    width: 11%;
}

.progressBar {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

.progressBar li {
    float: left;
    text-align: center;
    position: relative;
}

.progressBar .step {
    border: 0.25em solid #E6E6E6;
    background-color: #fff;
    line-height: 1.2;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    z-index: 0;
}

.progressBar .done .step,
.progressBar .done .step:before,
.progressBar .active .step,
.progressBar .active .step:before {
    background-color: #009a44;
}

.progressBar .done .step {
    border-color: #009a44
}

.progressBar .active .step {
    border-color: #ff7900;
    background-color: #fff;
}

.progressBar li:first-child .step::before {
    display: none;
}

.progressBar .step::before {
    background-color: #E6E6E6;
    bottom: 0.6em;
    content: "";
    display: block;
    height: 0.4em;
    left: -50%;
    position: absolute;
    width: 100%;
    z-index: -1;
}


/*prepare css*/

.otherInputs,
.drugInputs {
    padding: 0 2%;
}

.drugInputs:first-child {
    border-right: 1px solid #999999;
}

.prepareInput {
    font-size: 1.125em;
    margin: 1% 0;
    padding: 2%;
}

.prepareInput input {
    border-style: solid;
    border-width: 3px 0 0 3px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    height: 1.75em;
}

.leftSide .prepareInput:nth-child(odd) {
    background: #eee;
}

.leftSide .prepareInput:nth-child(even) {
    color: #ff7900;
}

.prepareInput:nth-child(odd) input {
    background: #858585;
    border-color: #6F6F6F;
}

.prepareInput:nth-child(even) input {
    background: #ff7900;
    border-color: #D26E2F;
}

.bothInputs {
    padding: 0;
}

.bothInputs input {
    text-transform: none;
    text-align: center;
}

.secondInput {
    border-left-width: 0 !important;
}

.prepareInput:nth-child(even) .preRunTitle {
    color: #ff7900;
}

.preRunAmount {
    background: #eee;
    padding: 2%;
}

.arrowBox {
    color: #fff;
    font-size: 2em;
    max-height: 35vh;
    min-height: 25vh;
}

.arrow {
    position: absolute;
    right: 40%;
    top: 40%;
}


/*summary*/

.summaryLeft .prepareInput:nth-child(odd) {
    background: #eee;
}

.summaryRight .prepareInput:nth-child(even) {
    background: #eee;
}

.checkmark {
    background: #76d750;
    color: #fff;
    font-size: 0.75em;
    padding: 5%;
}

.prepareUnload {
    margin: 2% 0;
    padding: 1%;
    background: #FDCA45;
    color: #333;
}

.summaryShow {
    background: #76D750;
    color: #fff;
}

.allTargets {
    font-size: 0.75em;
    padding: 0 0 1%;
    text-align: center;
}


/*footer*/

.footer {
    bottom: 0;
    padding: 1% 3%;
    position: absolute;
    width: 800px;
}


/*numberpad*/

.numberPad {
    background: #003317;
    height: 450px;
    left: 75%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    padding: 0% 1% 1%;
    font-size: 1.25em;
    z-index: 1001;
}

.closeButton {
    background: #007333;
    color: #fff;
    float: right;
    padding: 3% 10%;
}

.numInput {
    background: #676767;
    height: 10%;
    width: 100%;
    margin-top: 5%;
    color: #fff;
    padding: 0.5em;
}

.numRange {
    margin: 3% 0;
    color: #16693b;
    font-size: 1rem;
}

.numberPad .number {
    height: 10%;
    width: 28.33333%;
    background: #c2c2c2;
    display: inline-block;
    color: #007333;
    padding: 1%;
    margin: 2.5%;
    position: relative;
    border-width: 2px 0 0 2px;
    border-color: #007333;
    border-style: solid;
}

.numberPad .enter {
    width: 61.667%;
    margin-top: 5%;
}

.numberPad .decimal {
    margin-left: 0;
}

.numberPad .disableDecimal {
    opacity: 0.3;
    pointer-events: none;
}

.numberPad .clear {
    background: #808080;
    margin: 5% 0 2.5% 1%;
    color: #aeb0b3;
    border: 0 none;
}

.numberPad .number:active {
    background: #76d750;
    border-width: 0 2px 2px 0;
    border-color: #bcebaa;
}

.numberPad .clear:active {
    background: #555;
}

.closeButton:active {
    color: #007333;
    background: #808080;
}

.numberPad .number span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blackout {
    opacity: 0.8;
    background: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}