<!DOCTYPE html>
<html>

<head>
    <!--CSS-->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body ng-app="cwc">

    <div class="container header">
        <div class="row">
            <div class="col-md-3">
                <div class="headerInfo">
                    <div>{{timeAndDate | date:'hh:mm a MM/dd/yyyy'}}</div>
                    <div>batch id:</div>
                    <div>run time: {{startTime | date:"mm:ss"}}</div>
                </div>
            </div>
            <div class="col-md-6 whiteBackground greenText" ng-class="{'summaryShow':summaryShow}">
                <div class="text-center nameBox">name</div>
                <div ng-show="summaryShow" class="allTargets">All Targets are Within Specifications</div>
            </div>
            <div class="col-md-3">
                <div class="headerInfo">
                    <div>user: {{userInfo.userName}}</div>
                    <br>
                    <div>
                        <button class="btn btn-grey" ng-click="loginClick()">{{loginOut}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="loggedIn">
            <div class="row tabs text-center">
                <div class="col-md-4 headerTab">
                    <div class="bevel tl tr" ng-class="{'activeTab':currentTab==='prepare'}"></div>
                    <div class="content" ng-class="{'activeTabContent':currentTab==='prepare'}"><span>prepare procedure</span></div>
                </div>
                <div class="col-md-4 headerTab">
                    <div class="bevel tl tr" ng-class="{'activeTab':currentTab==='run'}"></div>
                    <div class="content" ng-class="{'activeTabContent':currentTab==='run'}"><span>run procedure</span></div>
                </div>
                <div class="col-md-4 headerTab">
                    <div class="bevel tl tr" ng-class="{'activeTab':currentTab==='complete'}"></div>
                    <div class="content" ng-class="{'activeTabContent':currentTab==='complete'}"><span>complete procedure</span></div>
                </div>

            </div>
            <div class="row greenBackground steps">
                <span class="stepsText">Step {{currentStep+1}} of {{steps[currentTab].length}}: {{steps[currentTab][currentStep]}}</span>
                <span class="question">?</span>
            </div>
        </div>
    </div>

    <div id="view" ng-view></div>

    <numberpad ng-show="showNumpad"></numberpad>
    
    <div ng-show="showNumpad" class="blackout"></div>

</body>

<!--Angular-->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>

<!--Main App-->
<script src="app.js"></script>

<!--Directives-->
<script src="js/directives.js"></script>

<!--Controllers-->
<script src="controllers/home.js"></script>
<script src="controllers/prepare.js"></script>
<script src="controllers/run.js"></script>
<script src="controllers/complete.js"></script>

</html>