<div class="numberPad">
    <div class="closeButton" ng-click="closeNumpad()">x</div>
    <div style="clear:both;"></div>
    <div id="numInput" class="numInput"></div>
    <div class="numRange">RANGE: 100 to 1000mL</div>
    <div class="number" ng-repeat="num in nums" ng-click="numClick(num)"><span>{{num}}</span></div>
    <div class="number decimal" ng-click="posNeg()"><span>+/-</span></div>
    <div class="number decimal" ng-click="numClick('.')" ng-class="{'disableDecimal':hasDecimal()}"><span>.</span></div>
    <div class="number enter" ng-click="getValue()"><span>ENTER</span></div>
    <div class="number clear" ng-click="numClear()"><span>C</span></div>
</div>