<div class="screen">
    <div ng-show="currentStep===0">
        <div class="text-center">Summary</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs summaryLeft">
                <div class="row prepareInput">
                    <div class="col-md-6">Procedure Time</div>
                    <div class="col-md-6">{{startTime | date:"mm:ss"}}</div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Cell Transfer Bag</div>
                    <div class="col-md-6">{{masterObj.ctb}} ml</div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Cryoprotectant</div>
                    <div class="col-md-6">{{masterObj.cp}} ml</div>
                </div>
            </div>
            <div class="col-md-6 otherInputs summaryRight">
                <div class="row prepareInput">
                    <div class="col-md-6">QC Bag</div>
                    <div class="col-md-4">{{masterObj.qcb}} ml</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok checkmark"></span></div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Product Bag 1</div>
                    <div class="col-md-4">{{masterObj.db1}} ml</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok checkmark"></span></div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Product Bag 2</div>
                    <div class="col-md-4">{{masterObj.db2}} ml</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok checkmark"></span></div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Product Bag 3</div>
                    <div class="col-md-4">{{masterObj.db3}} ml</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok checkmark"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="currentStep===1">
        <div class="text-center">Prepare for Unload</div>
        <hr>
        <div class="image">Unload Image</div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-hide="currentStep+1===steps[currentTab].length">
            <div class="prepareUnload">
                Prepare Set for Unload
            </div>
            <span class="nextStep">Next step:<br>{{steps[currentTab][currentStep+1]}}</span>
            <button class="btn btn-success nextButton" ng-click="continue()">next</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-show="currentStep+1===steps[currentTab].length">
            <div class="prepareUnload">
                Ensure Bags are Sealed
            </div>
            <span class="nextStep">Next step:<br>Login</span>
            <button class="btn btn-success nextButton" ng-click="logout()">logout</button>
        </div>
    </div>

    <div style="clear:both;"></div>
    <ol class="progressBar" data-steps="{{steps[currentTab].length}}">
        <li ng-class="{'active':i===currentStep,'done':i<currentStep}" ng-repeat="(i,s) in steps[currentTab]">
            <span class="step"><span>&nbsp;</span></span>
        </li>
    </ol>
</div>