<div class="homeScreen">
    <div class="row">
        <div class="col-md-8 customWell userWell">
            <div class="col-md-6">
                <div class="inputLabel">user info:</div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="userInfo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 customWell pwWell">
            <div class="col-md-6">
                <div class="inputLabel">password:</div>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control">
            </div>
        </div>
    </div>
</div>