<!--Calibrate System-->
<div class="screen">
    <div ng-show="currentStep===0">
        <div class="row">
            <div class="col-md-4 text-center stepList">
                <div class="stepText">1. Clear Load Cell</div>
                <div class="image">Image</div>
                <div class="stepText">2. Start 0 g Calibration</div>
                <div>
                    <button class="btn btn-success" ng-click="advance()">Calibrate 0g</button>
                </div>
            </div>
            <div class="col-md-4 text-center stepList" ng-show="cal0g">
                <div class="stepText">3. Hang Weight</div>
                <div class="image">Image</div>
                <div class="stepText">4. Start 500 g Calibration</div>
                <div>
                    <button class="btn btn-success" ng-click="advance()">Calibrate 500g</button>
                </div>
            </div>
            <div class="col-md-4 text-center stepList" ng-show="cal500g">
                <div class="stepText">5. Remove Weight</div>
                <div class="image">Image</div>
            </div>
        </div>
    </div>

    <!--Enter Data-->
    <div ng-show="currentStep===1">
        <div class="text-center">Enter Output Bag Volumes</div>
        <hr>
        <div class="row">
            <div class="col-md-6 drugInputs leftSide">
                <div class="row prepareInput">
                    <div class="col-md-6">Drug Product Bag 1</div>
                    <div class="col-md-4 bothInputs">
                        <input type="text" class="form-control" ng-model="masterObj.db1" numinput>
                    </div>
                    <div class="col-md-2 bothInputs">
                        <input type="text" class="form-control secondInput" value="ml" unitinput>
                    </div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Drug Product Bag 2</div>
                    <div class="col-md-4 bothInputs">
                        <input type="text" class="form-control" ng-model="masterObj.db2" numinput>
                    </div>
                    <div class="col-md-2 bothInputs">
                        <input type="text" class="form-control secondInput" value="ml" unitinput>
                    </div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Drug Product Bag 3</div>
                    <div class="col-md-4 bothInputs">
                        <input type="text" class="form-control" ng-model="masterObj.db3" numinput>
                    </div>
                    <div class="col-md-2 bothInputs">
                        <input type="text" class="form-control secondInput" value="ml" unitinput>
                    </div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Quality Control Bag</div>
                    <div class="col-md-4 bothInputs">
                        <input type="text" class="form-control" ng-model="masterObj.qcb" numinput>
                    </div>
                    <div class="col-md-2 bothInputs">
                        <input type="text" class="form-control secondInput" value="ml" unitinput>
                    </div>
                </div>
            </div>
            <div class="col-md-6 drugInputs">
                <div class="row prepareInput">
                    <div class="col-md-6">Disposable Set Type</div>
                    <div class="col-md-6">CS 250</div>
                </div>
            </div>
        </div>
    </div>

    <!--Scan Set-->
    <div ng-show="currentStep===2">
        <div class="text-center">Scan Barcode on Set</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs leftSide">
                <div class="row prepareInput">
                    <div class="col-md-6">Catalog Number</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX" ng-model="masterObj.cn" numinput>
                    </div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Lot Number</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX" ng-model="masterObj.ln" numinput>
                    </div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6">Sequence Number</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX" ng-model="masterObj.sn" numinput>
                    </div>
                </div>
            </div>
            <div class="col-md-6 otherInputs">
                <div class="row prepareInput">
                    <div class="image">Image</div>
                </div>
            </div>
        </div>
    </div>

    <!--Load Set-->
    <div ng-show="currentStep===3">
        <div class="image">Load Set Image</div>
    </div>

    <!--Scan and Connect Cryoprotectant-->
    <div ng-show="currentStep===4">
        <div class="text-center">Scan and Connect Cryoprotectant</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs leftSide">
                <div class="row prepareInput">
                    <div class="col-md-6">Cryoprotectant</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX" ng-model="masterObj.cp" numinput>
                    </div>
                </div>
            </div>
            <div class="col-md-6 otherInputs">
                <div class="row prepareInput">
                    <div class="image">Image</div>
                </div>
            </div>
        </div>
    </div>

    <!--Load Check-->
    <div ng-show="currentStep===5">
        <div class="text-center">Load Image</div>
        <hr>
        <div class="image">Load Image</div>
    </div>

    <!--Connect Input Bag-->
    <div ng-show="currentStep===6">
        <div class="text-center">Remove Cryoprotectant. Scan and Connect Cell Transfer Bag.</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs leftSide">
                <div class="row prepareInput">
                    <div class="col-md-6">Cell Transfer Bag</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX" ng-model="masterObj.ctb" numinput>
                    </div>
                </div>
            </div>
            <div class="col-md-6 otherInputs">
                <div class="row prepareInput">
                    <div class="image">Image</div>
                </div>
            </div>
        </div>
    </div>

    <!--Start Confirmation-->
    <div ng-show="currentStep===7">
        <div class="text-center">Start Run</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs preRun">
                <div class="row prepareInput">
                    <div class="col-md-6 preRunTitle">Set Type</div>
                    <div class="col-md-6 preRunAmount">CS 250</div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6 preRunTitle">QC Bag</div>
                    <div class="col-md-6 preRunAmount">{{masterObj.qcb}} ml</div>
                </div>
            </div>
            <div class="col-md-6 otherInputs preRun">
                <div class="row prepareInput">
                    <div class="col-md-6 preRunTitle">Drug Product Bag 1</div>
                    <div class="col-md-6 preRunAmount">{{masterObj.db1}} ml</div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6 preRunTitle">Drug Product Bag 2</div>
                    <div class="col-md-6 preRunAmount">{{masterObj.db2}} ml</div>
                </div>
                <div class="row prepareInput">
                    <div class="col-md-6 preRunTitle">Drug Product Bag 3</div>
                    <div class="col-md-6 preRunAmount">{{masterObj.db3}} ml</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-hide="currentStep+1===steps[currentTab].length">
            <span class="nextStep">Next step:<br>{{steps[currentTab][currentStep+1]}}</span>
            <button class="btn btn-success nextButton" ng-class="{'disabledButton':!cal500g}" ng-show="currentStep===0" ng-click="nextStep()">next</button>
            <button class="btn btn-success nextButton" ng-show="currentStep!==0" ng-click="nextStep()">next</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-show="currentStep+1===steps[currentTab].length">
            <span class="nextStep">Next step:<br>{{steps['run'][0]}}</span>
            <button class="btn btn-success nextButton" ng-click="nextStep()">start</button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <ol class="progressBar" data-steps="{{steps[currentTab].length}}">
        <li ng-class="{'active':i===currentStep,'done':i<currentStep}" ng-repeat="(i,s) in steps[currentTab]">
            <span class="step"><span>&nbsp;</span></span>
        </li>
    </ol>
</div>