<div class="screen">
    <div ng-show="currentStep===0">
        <div class="text-center">Moving Cells to Mixing Bag</div>
        <hr>
        <div class="image">Move Cells Graphic</div>
    </div>
    <div ng-show="currentStep===1">
        <div class="text-center">Scan and Connect Cyroprotectant</div>
        <hr>
        <div class="row">
            <div class="col-md-6 otherInputs leftSide">
                <div class="row prepareInput">
                    <div class="col-md-6">Cryoprotectant</div>
                    <div class="col-md-6 bothInputs">
                        <input type="text" class="form-control" placeholder="XXXXX">
                    </div>
                </div>
            </div>
            <div class="col-md-6 otherInputs">
                <div class="row prepareInput">
                    <div class="image">Scan and connect image</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="currentStep===2">
        <div class="row prepareInput greyBackground">
            <div class="col-md-5 image" ng-class="{'activeImg':activeImg===0}">cool cells graphic</div>
            <div class="col-md-2 arrowBox">
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
            </div>
            <div class="col-md-5 image" ng-class="{'activeImg':activeImg===1}">adding cryoprotectant graphic</div>
        </div>
    </div>
    <div ng-show="currentStep===3">
        <div class="row prepareInput greyBackground">
            <div class="col-md-5 image" ng-class="{'activeImg':activeImg===0}">fill qc graphic</div>
            <div class="col-md-2 arrowBox">
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
            </div>
            <div class="col-md-5 image" ng-class="{'activeImg':activeImg===1}">fill product bag graphic</div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-hide="currentStep+1===steps[currentTab].length">
            <span class="nextStep">Next step:<br>{{steps[currentTab][currentStep+1]}}</span>
            <button class="btn btn-success nextButton" ng-show="currentStep===2||currentStep===3" ng-click="activeImgIncrement()">next</button>
            <button class="btn btn-success nextButton" ng-hide="currentStep===2||currentStep===3" ng-click="nextStep()">next</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" ng-show="currentStep+1===steps[currentTab].length">
            <span class="nextStep">Next step:<br>{{steps['complete'][0]}}</span>
            <button class="btn btn-success nextButton" ng-show="activeImg===0" ng-click="activeImgIncrement()">next</button>
            <button class="btn btn-success nextButton" ng-show="activeImg===1" ng-click="nextStep()">start</button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <ol class="progressBar" data-steps="{{steps[currentTab].length}}">
        <li ng-class="{'active':i===currentStep,'done':i<currentStep}" ng-repeat="(i,s) in steps[currentTab]">
            <span class="step"><span>&nbsp;</span></span>
        </li>
    </ol>
</div>